body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 0;
}

.grid-item {
    width: 50px; /* Ajustez cette valeur pour agrandir les cellules */
    height: 50px; /* Ajustez cette valeur pour agrandir les cellules */
    border: 1px solid #000;
}